body{
	background-image: url("background-image.jpg");
}

div {
	border: 5px solid red;
	margin-bottom: 5px;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	overflow: auto;
	padding: 10px;
}

div img {
	float: right;
}

.heading {
	text-align: right;
	background: #A8F0F0;
	border: transparent;
}

.heading h2 {
	font-size: 14px;
}

.update1 {
	border-width: 0px;
	border-bottom: 2px blue dashed;	
}
.update2 {
	border: 10px solid white;
	background: #E8FBFB;
}

.bottom {
	border: 4px solid #C2E9E9;
}
